.heading {
    text-align: center;
}

#myCanvas {
    height: 300px;
    width: 800px;
    margin-left: 0;
    margin-right: 0;
    padding: 25px;
}

.reset-btn {
    display: none;
}

.round-box {
    text-align: justify;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}

.first-col {
    border-right: 1px solid black;
}

.custom-table {
    width: 400px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
}

.custom-table th {
    text-align: center !important;
}

.menu {
    color: white;
    padding: 15px;
    border-top: 1px solid white;
    text-align: center;
}


.menu a {
    background: #f44141;
    z-index: 95;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 18px;
}

.menu a:hover {
    background: rgb(252, 35, 35);
}

.active {
    background: rgb(252, 35, 35) !important;
}
